* {
  box-sizing: border-box;  
}
/* Remove margin/padding from UL */
ul{
    margin:0;
    padding: 0;
}
/* Style my to do list */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: lightblue;
    font-size: 18px;
    transition: .2s;
/*Make LI unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Add odd/ even numbers to list */
ul li:nth-child(odd){
    background-color: rgb(49, 49, 255);
}
ul li:hover{
    background: rgb(70, 159, 241);
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* Style close btn*/
.close{
    position: absolute;
    right:0;
    top:0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color:rgb(170, 97, 97);
    color: purple;
    
}
.header{
    padding: 30px 40px;
    background-color: rgb(189, 177, 177);
    color: white;
    text-align: center;
}

/*Input*/

input{
    margin: 0;
    border: none;
    border-radius: 6;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addBtn{
    padding: 10px;
    width: 25%;
    background: lightblue;
    color: gray;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}
/* Clear floats*/
.header:after{
    content: "";
    display:table;
    clear:both;
}
.addBtn:hover{
    background-color: gray;
    color: white;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(168, 168, 168);
}

